{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2">
            <h1 style="text-align: center">Welcome to my movie database !!</h1>
            <div class="card border-primary mb-3">
                <div class="card-header">App creator : Félix Tuffreaud</div>
                <div class="card-body">
                    <h4 class="card-title">Manage your film with my app, enjoy !!!</h4>
                    <p class="card-text">Licences code use to make this app : </p>
                    <ul>
                        <li>Symfony : https://symfony.com/doc/current/index.html</li>
                        <li>Bootswatch Cyborg template : https://bootswatch.com/cyborg/
                        <a target="_blank" href="https://media.senscritique.com/media/000008284415/source_big/Cyborg.jpg">BONUS</a></li>
                        <li>Twig : https://twig.symfony.com/doc/3.x/</li>
                        <li>Easy bundle admin : https://symfony.com/doc/current/bundles/EasyAdminBundle/index.html</li>
                        <li>Twig : https://twig.symfony.com/doc/3.x/</li>
                        <li>Educator demo : https://github.com/fueledbycoffee/itak_blog_demo</li>
                        <li>Register form : https://symfony.com/doc/current/doctrine/registration_form.html</li>
                        <li>Security admin : https://symfony.com/doc/current/bundles/EasyAdminBundle/security.html#restrict-access-to-fields</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
